<%- include partial/header.ejs %>

<h1>Compose </h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control"  placeholder="Title">
        <label >Post</label>
        <textarea class="form-control" name="post" rows="3"></textarea>
        <button class="btn btn-primary" type="submit" >Publish</button>
</div>
</form>



<%- include partial/footer.ejs %>